@font-face {
    font-family: 'Super Adorable';
    src: url('/fonts/SuperAdorable.woff2') format('woff2'),
        url('/fonts/SuperAdorable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

